<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
   
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<script src="https://kit.fontawesome.com/657e1de652.js" crossorigin="anonymous"></script>

</head>

<body>







    
<header>
    
    
    <img src="/img/logo-mercado-liebre.svg" alt="logo" width="10%">
    
    <input type="search" class="nav-search-input" placeholder="Buscar productos, marcas y más…">
    <button><i class="fa fa-search"></i></button>
 

    
    <h10><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</h10>



<nav class="navbar">
        <ul class="no-bullets">
            
            <li><a href="#">Vender</a></li>&nbsp;&nbsp;
            <li><a href="#">Tiendas Oficiales</a></li>&nbsp;&nbsp;
            <li><a href="#">Ofertas</a></li>&nbsp;&nbsp;
            <li><a href="#">Ayuda</a></li>&nbsp;&nbsp;
            <br>
        <h62>&nbsp;&nbsp;<li><a href="#">Creá tu Cuenta <i class="fa-regular fa-id-card"></i></a></li>
            &nbsp;&nbsp;<li><a href="#">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
            &nbsp;&nbsp;<li><a href="#">Mis Compras <i class="fa-solid fa-basket-shopping"></i></a></li></h62>
        </ul>
    </nav>

    

  
    
    </header>
    <div class="burger-menu">
        <br> <i class="fas fa-bars"></i>
        </div>
   
        <img src="/img/img-home-banner.jpg" alt="banner" height="50%" width="150%">
<main><h2>Basado en tu última visita</h2><br><div id="tarjeta_producto"><img src="/img/img-cafetera-moulinex.jpg" id="productos">
        <h3><i class="fa-solid fa-truck icono_envio"></i>
            <p class="Precios">$6.770</p>
            <p class="Descuentos">40% OFF</p>
            <p class="Descripcion">Cafetera Moulinex</p></h3>
        </div>
        <div id="tarjeta_producto"><img src="/img/img-macbook-pro-2019.jpg" id="productos">
        <h3><i class="fa-solid fa-truck icono_envio"></i>
            <p class="Precios">$230.000</p>
    <p class="Descuentos">20% off</p>
    <p class="Descripcion">MacBook Pro 2019</p></h3></div>
    <div id="tarjeta_producto"><img src="/img/img-samsung-galaxy-s10.jpg" id="productos">
        <h3><i class="fa-solid fa-truck icono_envio"></i>
            <p class="Precios">$70.500</p>
            <p class="Descuentos">10% off</p>
            <p class="Descripcion">Samsung Galaxy S10</p></h3></div>
            <div id="tarjeta_producto"><img src="/img/img-tv-samsung-smart.jpg" id="productos">
        <h3><i class="fa-solid fa-truck icono_envio"></i>
            <p class="Precios">$23.200</p>
            <p class="Descuentos">5% off</p>
            <p class="Descripcion">SmartTv Samsung 43"</p></h3></div>
        
         <h2> Ofertas</h2>
         <div id="tarjeta_producto"><img src="/img/img-cafetera-moulinex.jpg" id="productos">
        <h3><i class="fa-solid fa-truck icono_envio"></i>
            <p class="Precios">$6.770</p>
            <p class="Descuentos">40% off</p>
            <p class="Descripcion">Cafetera Moulinex</p></h3></div>
            <div id="tarjeta_producto"><img src="/img/img-macbook-pro-2019.jpg" id="productos">
        <h3><i class="fa-solid fa-truck icono_envio"></i>
            <p class="Precios">$230.000</p>
            <p class="Descuentos">20% off</p>
            <p class="Descripcion">MacBook Pro 2019</p></h3></div>
            <div id="tarjeta_producto"><img src="/img/img-samsung-galaxy-s10.jpg" id="productos">
        <h3><i class="fa-solid fa-truck icono_envio"></i>
            <p class="Precios">$70.500</p>
            <p class="Descuentos">10% off</p>
            <p class="Descripcion">Samsung Galaxy S10</p></h3></div>
            <div id="tarjeta_producto"><img src="/img/img-tv-samsung-smart.jpg" id="productos">
        <h3><i class="fa-solid fa-truck icono_envio"></i>
            <p class="Precios">$23.200</p>
            <p class="Descuentos">5% off</p>
            <p class="Descripcion">SmartTv Samsung 43"</p></h3></div></main>
    



    <footer><br><br><h20>
        <i class="fa-sharp fa-solid fa-credit-card" style="color:#0044aa"></i><br>
        Pagá con tarjeta o en efectivo</h20><br><br>
        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!<br><br>
        
        <h20><i class="fa-solid fa-gift" style="color:#0044aa"></i><br>Envío gratis desde $ 2.500</h20><br><br>
        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.
        <br><br><h20><i class="fa-solid fa-user-shield" style="color: #0044aa"></i><br> Seguridad, de principio a fin</h20><br><br>
        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.
        <br><br><br> <h21>Copyright © 1999-2022 MercadoLiebre S.R.L.</h21></footer>
    




 

    
    

</body>


</html>