<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
   
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<script src="https://kit.fontawesome.com/657e1de652.js" crossorigin="anonymous"></script>

</head>



<body>

<header>
    
    
    <img src="/img/logo-mercado-liebre.svg" alt="logo" width="10%">
    
    <input type="search" class="nav-search-input" placeholder="Buscar productos, marcas y más…">
    <button><i class="fa fa-search"></i></button>
 

    
    <h10><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</h10>




    

  
    
    </header>
   







    <body>

      <form action="/action_page.php">
        <div class="container">
          <h1>Registro</h1>
          <p>Llene los datos para crear una cuenta en Mercado Liebre</p>
          <hr>
      
          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Introduzca su dirección email" name="email" id="email" required>
      
          <label for="psw"><b>Contraseña</b></label>
          <input type="password" placeholder="Introduzca su contraseña" name="psw" id="psw" required>
      
          <label for="psw-repeat"><b>Repetir contraseña</b></label>
          <input type="password" placeholder="Repita su contraseña" name="psw-repeat" id="psw-repeat" required>
          <hr>
          
      
          <button type="submit" class="registerbtn"><b>Bienvenido</b> <img src="/img/logo-mercado-liebre.svg" alt="logo" width="60px"> </button>
        </div>
        
      
      </form>
      
      </body>
      </html>